--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answer; Type: TABLE; Schema: public; Owner: oquizadmin
--

CREATE TABLE public.answer (
    id integer NOT NULL,
    description text NOT NULL,
    question_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.answer OWNER TO oquizadmin;

--
-- Name: answer_id_seq; Type: SEQUENCE; Schema: public; Owner: oquizadmin
--

ALTER TABLE public.answer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.answer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: level; Type: TABLE; Schema: public; Owner: oquizadmin
--

CREATE TABLE public.level (
    id integer NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.level OWNER TO oquizadmin;

--
-- Name: level_id_seq; Type: SEQUENCE; Schema: public; Owner: oquizadmin
--

ALTER TABLE public.level ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.level_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: question; Type: TABLE; Schema: public; Owner: oquizadmin
--

CREATE TABLE public.question (
    id integer NOT NULL,
    description text NOT NULL,
    anecdote text,
    wiki text,
    level_id integer NOT NULL,
    answer_id integer NOT NULL,
    quiz_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.question OWNER TO oquizadmin;

--
-- Name: question_id_seq; Type: SEQUENCE; Schema: public; Owner: oquizadmin
--

ALTER TABLE public.question ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.question_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quiz; Type: TABLE; Schema: public; Owner: oquizadmin
--

CREATE TABLE public.quiz (
    id integer NOT NULL,
    title text NOT NULL,
    description text,
    user_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.quiz OWNER TO oquizadmin;

--
-- Name: quiz_has_tag; Type: TABLE; Schema: public; Owner: oquizadmin
--

CREATE TABLE public.quiz_has_tag (
    id integer NOT NULL,
    quiz_id integer NOT NULL,
    tag_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.quiz_has_tag OWNER TO oquizadmin;

--
-- Name: quiz_has_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: oquizadmin
--

ALTER TABLE public.quiz_has_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quiz_has_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quiz_id_seq; Type: SEQUENCE; Schema: public; Owner: oquizadmin
--

ALTER TABLE public.quiz ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quiz_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tag; Type: TABLE; Schema: public; Owner: oquizadmin
--

CREATE TABLE public.tag (
    id integer NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.tag OWNER TO oquizadmin;

--
-- Name: tag_id_seq; Type: SEQUENCE; Schema: public; Owner: oquizadmin
--

ALTER TABLE public.tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user; Type: TABLE; Schema: public; Owner: oquizadmin
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    firstname text,
    lastname text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public."user" OWNER TO oquizadmin;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: oquizadmin
--

ALTER TABLE public."user" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: answer; Type: TABLE DATA; Schema: public; Owner: oquizadmin
--



--
-- Data for Name: level; Type: TABLE DATA; Schema: public; Owner: oquizadmin
--



--
-- Data for Name: question; Type: TABLE DATA; Schema: public; Owner: oquizadmin
--



--
-- Data for Name: quiz; Type: TABLE DATA; Schema: public; Owner: oquizadmin
--



--
-- Data for Name: quiz_has_tag; Type: TABLE DATA; Schema: public; Owner: oquizadmin
--



--
-- Data for Name: tag; Type: TABLE DATA; Schema: public; Owner: oquizadmin
--

COPY public.tag (id, name, created_at, updated_at) FROM stdin;
1	Cin├â┬®ma	2024-08-20 10:17:38.129922+02	\N
2	Technologie	2024-08-20 10:17:38.129922+02	\N
3	Gastronomie	2024-08-20 10:17:38.129922+02	\N
4	Litt├â┬®rature	2024-08-20 10:17:38.129922+02	\N
5	Histoire	2024-08-20 10:17:38.129922+02	\N
6	Animaux	2024-08-20 10:17:38.129922+02	\N
7	Nature	2024-08-20 10:17:38.129922+02	\N
8	Astronomie	2024-08-20 10:17:38.129922+02	\N
9	G├â┬®ographie	2024-08-20 10:17:38.129922+02	\N
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: oquizadmin
--

COPY public."user" (id, email, password, firstname, lastname, created_at, updated_at) FROM stdin;
1	philippe@oclock.io	$2b$10$7vwYGrz2TGeyG4X8YnD9BOag9I.YKGUTJELs64qGmcK/syHu2BzTG	Philippe	Candille	2024-08-20 10:17:38.129922+02	\N
3	chuck@oclock.io	$2b$10$7vwYGrz2TGeyG4X8YnD9BOag9I.YKGUTJELs64qGmcK/syHu2BzTG	Chuck	Norris	2024-08-20 10:17:38.129922+02	\N
4	leony@gmail.com	croquettes	Duchesse	L├®ony	2024-08-23 11:22:58.358+02	2024-08-23 11:22:58.358+02
\.


--
-- Name: answer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: oquizadmin
--

SELECT pg_catalog.setval('public.answer_id_seq', 955, true);


--
-- Name: level_id_seq; Type: SEQUENCE SET; Schema: public; Owner: oquizadmin
--

SELECT pg_catalog.setval('public.level_id_seq', 32, true);


--
-- Name: question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: oquizadmin
--

SELECT pg_catalog.setval('public.question_id_seq', 180, true);


--
-- Name: quiz_has_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: oquizadmin
--

SELECT pg_catalog.setval('public.quiz_has_tag_id_seq', 29, true);


--
-- Name: quiz_id_seq; Type: SEQUENCE SET; Schema: public; Owner: oquizadmin
--

SELECT pg_catalog.setval('public.quiz_id_seq', 19, true);


--
-- Name: tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: oquizadmin
--

SELECT pg_catalog.setval('public.tag_id_seq', 9, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: oquizadmin
--

SELECT pg_catalog.setval('public.user_id_seq', 6, true);


--
-- Name: answer answer_pkey; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.answer
    ADD CONSTRAINT answer_pkey PRIMARY KEY (id);


--
-- Name: level level_pkey; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.level
    ADD CONSTRAINT level_pkey PRIMARY KEY (id);


--
-- Name: question question_description_key; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_description_key UNIQUE (description);


--
-- Name: question question_pkey; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_pkey PRIMARY KEY (id);


--
-- Name: quiz_has_tag quiz_has_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.quiz_has_tag
    ADD CONSTRAINT quiz_has_tag_pkey PRIMARY KEY (id);


--
-- Name: quiz_has_tag quiz_has_tag_quiz_id_tag_id_key; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.quiz_has_tag
    ADD CONSTRAINT quiz_has_tag_quiz_id_tag_id_key UNIQUE (quiz_id, tag_id);


--
-- Name: quiz quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_pkey PRIMARY KEY (id);


--
-- Name: quiz quiz_title_key; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_title_key UNIQUE (title);


--
-- Name: tag tag_name_key; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_name_key UNIQUE (name);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: answer answer_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.answer
    ADD CONSTRAINT answer_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(id);


--
-- Name: question question_answer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_answer_id_fkey FOREIGN KEY (answer_id) REFERENCES public.answer(id);


--
-- Name: question question_level_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_level_id_fkey FOREIGN KEY (level_id) REFERENCES public.level(id);


--
-- Name: question question_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quiz(id);


--
-- Name: quiz_has_tag quiz_has_tag_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.quiz_has_tag
    ADD CONSTRAINT quiz_has_tag_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quiz(id);


--
-- Name: quiz_has_tag quiz_has_tag_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.quiz_has_tag
    ADD CONSTRAINT quiz_has_tag_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tag(id);


--
-- Name: quiz quiz_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oquizadmin
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- PostgreSQL database dump complete
--

