<%- include("partials/header") %>
    
    <main class="container py-4 text-center">

        <h2>Bonjour <%= loginUser.fistname %> <%= loginUser.lastname %></h2>

        <h1>Ceci est une page d'admin</h1>
    
        <p>Très pratique pour administrer des choses diverses et variées.</p>
        
    </main>

<%- include("partials/footer") %>